<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <div class='container'>
      <h1>Acme Product Categories</h1>
      <ul class='nav nav-tabs'>
        <li {% if !selected %}class='active'{% endif %}>
          <a href='/'>Home</a>
        </li>
        {% for name in categoryNames %}
        <li {% if name === selected %}class='active'{% endif %}>
            <a href='/categories/{{ name }}/products'>
              {{ name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% block content %}
      Home
      {% endblock %}
      <h1>Data</h1>
      <pre>
{{ JSON.stringify(data, null, 2) }}
      </pre>
    </div>
  </body>
</html>
